body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9; /* Light Gray */
}

.App {
  text-align: center;
}

.title {
  font-family: 'Russo One', sans-serif;
  color: #000000; /* Dark Blue */
  font-size: 3rem;
}

.description {
  font-size: 1.2rem;
  color: #000000; /* Gray */
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.im-logo {
  width: 150px;
  height: auto;
}

.general {
  background-color: #ffffff; /* White */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step {
  font-family: 'Russo One', sans-serif;
  color: #000000; /* Dark Blue */
  font-size: 1.5rem;
  text-align: center;
}

.im-con {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.im {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #000000; /* Dark Blue */
}

.footer {
  background-color: #000000; /* Dark Blue */
  padding: 10px 0;
  color: #ffffff; /* White */
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.MuiCheckbox-root {
  color: #000000 !important; /* Blue */
}

.MuiButton-containedPrimary {
  background-color: #000000 !important; /* Blue */
}

.MuiFormControlLabel-label {
  color: #000000 !important; /* Dark Blue */
  font-family: 'Russo One', sans-serif !important;
}

.MuiAutocomplete-root {
  background-color: #ffffff; /* White */
}

.MuiButtonGroup-containedPrimary > .MuiButton-containedPrimary:not(:last-child) {
  border-color: #ffffff; /* White */
}

.MuiButton-root {
  font-family: 'Russo One', sans-serif !important;
  font-size: 1rem !important;
  color: #ffffff !important; /* White */
}
